<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzy.mybatis.mapper.DemoEntryMapper" >
  <resultMap id="BaseResultMap" type="com.hzy.mybatis.entry.DemoEntry" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="demo_name" property="demoName" jdbcType="VARCHAR" />
    <result column="demo_type" property="demoType" jdbcType="TINYINT" />
    <result column="zip_code" property="zipCode" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, demo_name, demo_type, zip_code, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from demo_entry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from demo_entry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hzy.mybatis.entry.DemoEntry" >
    insert into demo_entry (id, demo_name, demo_type, 
      zip_code, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{demoName,jdbcType=VARCHAR}, #{demoType,jdbcType=TINYINT}, 
      #{zipCode,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hzy.mybatis.entry.DemoEntry" >
    insert into demo_entry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="demoName != null" >
        demo_name,
      </if>
      <if test="demoType != null" >
        demo_type,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="demoName != null" >
        #{demoName,jdbcType=VARCHAR},
      </if>
      <if test="demoType != null" >
        #{demoType,jdbcType=TINYINT},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzy.mybatis.entry.DemoEntry" >
    update demo_entry
    <set >
      <if test="demoName != null" >
        demo_name = #{demoName,jdbcType=VARCHAR},
      </if>
      <if test="demoType != null" >
        demo_type = #{demoType,jdbcType=TINYINT},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzy.mybatis.entry.DemoEntry" >
    update demo_entry
    set demo_name = #{demoName,jdbcType=VARCHAR},
      demo_type = #{demoType,jdbcType=TINYINT},
      zip_code = #{zipCode,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>