<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzy.mybatis.mapper.DemoEntryMapper" >
  <cache>

  </cache>
  <cache-ref></cache-ref>
  <resultMap id="BaseResultMap" type="com.hzy.mybatis.entry.DemoEntry" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="demo_name" property="demoName" jdbcType="VARCHAR" />
    <result column="demo_type" property="demoType" jdbcType="TINYINT" />
    <result column="zip_code" property="zipCode" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, demo_name, demo_type, zip_code, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from demo_entry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectDemo" parameterType="int"  resultType="hashmap">
    select * from demo_entry where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertDemo">
        insert into demo_entry (demo_name, demo_type, zip_code, create_time) values ('test_name', 1, '100000', now());
  </insert>
  <update id="updateDemo">

  </update>
  <delete id="deleteDemo">

  </delete>
</mapper>