<?xml version="1.0" encoding="UTF-8"?>
<!--用于测试 encoder 和 layout-->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 自定义layout demo -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.hzy.logging.common.layout.MySampleLayout" />
        </encoder>
    </appender>

    <appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <!-- layout设置属性 -->
            <layout class="com.hzy.logging.common.layout.MySampleLayout2">
                <prefix>MyPrefix</prefix>
                <printThreadName>false</printThreadName>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>